#Container {
  & {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 100vh;
  }

  .Message {
    font-weight: 600;
    font-size: 1.3rem;
  }
}